<!--/banner-section-->
<div id="demo-1" data-zs-src='["../../../assets/images/mainbg.jpg"]' data-zs-overlay="dots">
  <div class="demo-inner-content">
     <div class="header-top">
      <!-- /header-left -->
           <div class="logo-info"><h1><a href="index.html"><span class="logo-sub">Directory</span>.com</a></h1></div>
        <!-- //header-left -->
               <div class="search-box">
                <input type="submit" value="Upload New Card"  (click)="uploadNewShow()">

          <div id="sb-search" class="sb-search" style="display:none">
            <form action="#" method="post">
              <input name="name" class="sb-search-input" placeholder="Enter your search term..." type="search" id="search">
              <input class="sb-search-submit" type="submit" value="">
              <span class="sb-icon-search"> </span>
            </form>
          </div>
          <!-- search-scripts -->

          <!-- //search-scripts -->
            <ul>

            <li style="display:none">
            <a href="#" data-toggle="modal" data-target="#myModal4"><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Select Your Location</a></li>

            <li style="display:none"><button id="showRight" class="navig">Login </button>
             <div class="cbp-spmenu-push">
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
              <h3>Login</h3>
            <div class="login-inner">
              <div class="login-top">
               <form action="#" method="post">
                <input type="text" name="email" class="email" placeholder="Email" required=""/>
                <input type="password" name="password" class="password" placeholder="Password" required=""/>
                <input type="checkbox" id="brand" value="">
                <label for="brand"><span></span> Remember me</label>
              </form>
              <div class="login-bottom">
                <ul>
                  <li>
                    <a href="#">Forgot password?</a>
                  </li>
                  <li>
                    <form action="#" method="post">
                      <input type="submit" value="LOGIN"/>
                    </form>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>

            </div>
            <div class="social-icons">
            <ul>
              <li><a href="#"><span class="icons"></span><span class="text">Facebook</span></a></li>
              <li class="twt"><a href="#"><span class="icons"></span><span class="text">Twitter</span></a></li>
              <li class="ggp"><a href="#"><span class="icons"></span><span class="text">Google+</span></a></li>
            </ul>
          </div>
            </div>
            </nav>
          </div>

          <!--Navigation from Right To Left-->
              </li>
          </ul>

        </div>

          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      <!--banner-info-->
    <div class="banner-info">
      <!-- <h1><a href="index.html">Catchy <span class="logo-sub">Carz</span> </a></h1> -->
        <h2><span>SEARCH IN </span> <span>DIRECTORY </span></h2>
      <!-- <p>Eye it – try it – buy it!</p> -->
           <form action="#" method="post">
        <div class="search-two">
        <select id="country" onchange="change_country(this.value)" class="frm-field required">
            <option value="abt">Any</option>
            <option value="abt">Name</option>
            <option value="acura">Contact</option>
            <option value="alfa romeo">City</option>
            <option value="arial">Country</option>
            <option value="armstrong siddeley">E-mail</option>
        </select>
      </div>
      <div class="section_room">
        <input type="text" id="searchMega" class="frm-field required" placeholder="Search here">
      </div>

        <input type="submit" value="Search">
        <div class="clearfix"></div>
      </form>
    </div>
      <!--//banner-info-->
  </div>
</div>

      <!-- //sign-up-->
      <div class="modal ab fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog sign" role="document">
        <div class="modal-content about">
          <div class="modal-header one">
            <button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="discount one">
                <h3>Sign Up</h3>

              </div>
          </div>
           <div class="modal-body about">
              <div class="login-top sign-top one">
               <form action="#" method="post">
                <input type="text" name="name" class="name active" placeholder="Your Name" required="">
                <input type="text" name="email "class="email" placeholder="Email" required="">
                <input type="password" name="password" class="password" placeholder="Password" required="">
                <input type="checkbox" id="brand1" value="">
                <label for="brand1"><span></span> Remember me?</label>
                <div class="login-bottom one">
                <ul>
                  <li>
                    <a href="#">Forgot password?</a>
                  </li>
                  <li>

                    <input type="submit" value="SIGN UP">

                  </li>
                <div class="clearfix"></div>
              </ul>
              </div>
              </form>

            </div>


           </div>
           <div class="social-icons">
                <ul>
                  <li><a href="#"><span class="icons"></span><span class="text">Facebook</span></a></li>
                  <li class="twt"><a href="#"><span class="icons"></span><span class="text">Twitter</span></a></li>
                  <li class="ggp"><a href="#"><span class="icons"></span><span class="text">Google+</span></a></li>
                </ul>
                </div>

        </div>
      </div>
    </div>
    <!-- //sign-up-->
      <!-- /location-->
      <div class="modal ab fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog sign" role="document">
        <div class="modal-content about">
          <div class="modal-header one">
            <button type="button" class="close sg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="discount one">
                <h3>Please Tell Us Your City</h3>

              </div>
          </div>
           <div class="modal-body about">
              <div class="login-top sign-top location">
               <form action="#" method="post">
                            <select id="country12" onchange="change_country(this.value)" class="frm-field required">
                          <option value="null"> Select City</option>
                          <option value="city">Amsterdam</option>
                          <option value="city">Bahrain</option>
                          <option value="city">Cannes</option>
                          <option value="city">Dublin</option>
                          <option value="city">Edinburgh</option>
                          <option value="city">Florence</option>
                          <option value="city">Georgia</option>
                          <option value="city">Hungary</option>
                          <option value="city">Hong Kong</option>
                          <option value="city">Johannesburg</option>
                          <option value="city">Kiev</option>
                          <option value="city">London</option>
                          <option value="city">Others...</option>
                  </select>
              </form>
                 </div>


           </div>


        </div>
      </div>
    </div>
    <!-- //location-->
<!--//banner-section-->
<!--/featured_section-->
<div class="featured_section_w3l">
  <div class="container">
        <h3 class="tittle">Search Results</h3>
               <div class="inner_tabs">
  <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
          <!-- <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">UpComing cars</a></li>
            <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Popular</a></li>
            <li role="presentation"><a href="#tree" role="tab" id="tree-tab" data-toggle="tab" aria-controls="tree">Just Launched</a></li>

          </ul> -->
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
               <div class="section__content clearfix">
               <!-- /card1 -->
                <div class="card">
                <div class="card__front">
                  <span class="card__text">
                       <div class="img-grid">
                        <img src="../../../assets/images/f1.jpg" alt="Catchy Carz">
                        <div class="car_description">
                           <h4><a href="single.html">Name</a></h4>
                           <div class="price"><span class="fa fa-rupee"></span><span class="font25">$ 8000 - $ 12000</span></div>
                           <p>Estimated Price</p>
                           <div class="date">Mar 2017</div>
                           <p>Expected Launch</p>
                          </div>

                        </div>
                  </span>
                </div>
                </div>
                  <!-- //card1 -->
                <!-- /card2 -->
                <div class="card">
                <div class="card__front">
                  <span class="card__text">
                       <div class="img-grid">
                        <img src="../../../assets/images/f2.jpg" alt="Catchy">
                        <div class="car_description">
                           <h4><a href="single.html">Audi A4 2.0 TDI</a></h4>
                           <div class="price"><span class="fa fa-rupee"></span><span class="font25">$ 6000 - $ 10000</span></div>
                           <p>Estimated Price</p>
                           <div class="date">Mar 2017</div>
                           <p>Expected Launch</p>
                          </div>

                        </div>
                  </span>
                </div>
                </div>
                  <!-- //card2 -->
                <!-- /card3 -->
                <div class="card">
                <div class="card__front">
                  <span class="card__text">
                       <div class="img-grid">
                        <img src="../../../assets/images/f3.jpg" alt="Catchy Carz">
                        <div class="car_description">
                           <h4><a href="single.html">Foed Mustang GT 500</a></h4>
                           <div class="price"><span class="fa fa-rupee"></span><span class="font25">$ 9000 - $ 12000</span></div>
                           <p>Estimated Price</p>
                           <div class="date">Mar 2017</div>
                           <p>Expected Launch</p>
                          </div>

                        </div>
                  </span>
                </div>

                </div>
                  <!-- //card3 -->
               </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
<!--//featured_section-->

<!-- Services -->
  <div class="clearfix"></div>
  <!-- //Services -->
    <!-- footer -->
<div class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
        <h3>About Us</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.<span>Excepteur sint occaecat cupidatat
          non proident, sunt in culpa qui officia deserunt mollit.</span></p>
      </div>
      <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
        <h3>Contact Info</h3>
        <ul>
          <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
          <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
        </ul>
      </div>
      <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".7s">
        <h3>Flickr Posts</h3>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/13.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/14.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/15.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/16.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/13.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/14.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/15.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/16.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="footer-grid-left">
          <a href="single.html"><img src="../../../assets/images/13.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".8s">
        <h3>Blog Posts</h3>
        <div class="footer-grid-sub-grids">
          <div class="footer-grid-sub-grid-left">
            <a href="single.html"><img src="../../../assets/images/11.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-sub-grid-right">
            <h4><a href="single.html">culpa qui officia deserunt</a></h4>
            <p>Posted On 25/3/2016</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="footer-grid-sub-grids">
          <div class="footer-grid-sub-grid-left">
            <a href="single.html"><img src="../../../assets/images/10.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-sub-grid-right">
            <h4><a href="single.html">Quis autem vel eum iure</a></h4>
            <p>Posted On 25/4/2016</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="footer-grid-sub-grids">
          <div class="footer-grid-sub-grid-left">
            <a href="single.html"><img src="../../../assets/images/15.jpg" alt=" " class="img-responsive" /></a>
          </div>
          <div class="footer-grid-sub-grid-right">
            <h4><a href="single.html">Quis autem vel eum iure</a></h4>
            <p>Posted On 25/5/2016</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
      <h2><a href="index.html">Directory<span>Your Own Directory</span></a></h2>
    </div>
    <div class="copy-right animated wow slideInUp" data-wow-delay=".5s">
      <p>&copy; 2016 Directory. All rights reserved | Design by Webkurve</p>
    </div>
  </div>
</div>





<!-- discounts-->
<div class="modal ab" id="uploadNew"  style="display:block"  *ngIf="uploadNew">
  <div class="modal-dialog about" role="document">
    <div class="modal-content about">
      <div class="modal-header">
        <button type="button" class="close ab" data-dismiss="modal" aria-label="Close" (click)="uploadNewHide()"><span aria-hidden="true">&times;</span></button>
          <div class="discount">
            <h3>Add New Card</h3>

          </div>
      </div>
       <div class="modal-body about">
         <div class="uploadSec col-md-5 col-sm-5 pull-left">
          <form action="#" method="post">
            <div class="col-md-12 col-sm-12 pull-left imageSec p0">
              <input type="file" name="fileupload" class="fileupload" placeholder="File Upload" (change)="fileUpload($event)">
            </div>
            <div class="col-md-12 col-sm-12 pull-left btnSec p0">
              <input type="submit" value="Scan Image" class="btn btn-primary btn-sm" (click)="uploadFile()">
            </div>


          </form>
        </div>
        <div class="dis-contact col-md-7 col-sm-7 pull-left blankTable" *ngIf="blankTable"><img src="../../../assets/images/blankTable.jpg"></div>
        <div class="dis-contact col-md-7 col-sm-7 pull-left loaderSec" *ngIf="loaderSec"><img src="../../../assets/images/loader.gif"><span>Scanning</span></div>
          <div class="dis-contact col-md-7 col-sm-7 pull-left" *ngIf="showTable">
            <h4>Scan Result</h4>
                <form action="#" method="post" >
                  <div class="d-c">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th class="col-md-2 col-sm-2">S.No</th>
                          <th class="col-md-7 col-sm-7">Feched Value</th>
                          <th class="col-md-3 col-sm-3">Select Type</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="col-md-2 col-sm-2">1.</td>
                          <td class="col-md-7 col-sm-7">
                            <input type="text" value="{{scannedData.f1}}" #f1Val  (blur)="saveValue(f1Val.value,'f1')"></td>
                          <td class="col-md-3 col-sm-3">
                            <select class="name active" #f1Type (change)="saveType(f1Type.value,'f1')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>2.</td>
                          <td><input type="text" value="{{scannedData.f2}}" #f2Val  (blur)="saveValue(f2Val.value,'f2')"></td>
                          <td>
                            <select class="name active" #f2Type (change)="saveType(f2Type.value,'f2')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>3.</td>
                          <td><input type="text" value="{{scannedData.f3}}" #f3Val  (blur)="saveValue(f3Val.value,'f3')"></td>
                          <td>
                            <select class="name active" #f3Type (change)="saveType(f3Type.value,'f3')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>4.</td>
                          <td><input type="text" value="{{scannedData.f4}}" #f4Val  (blur)="saveValue(f4Val.value,'f4')"></td>
                          <td>
                            <select class="name active" #f4Type (change)="saveType(f4Type.value,'f4')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>5.</td>
                          <td><input type="text" value="{{scannedData.f5}}" #f5Val  (blur)="saveValue(f5Val.value,'f5')"></td>
                          <td>
                            <select class="name active" #f5Type (change)="saveType(f5Type.value,'f5')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>6.</td>
                          <td><input type="text" value="{{scannedData.f6}}" #f6Val  (blur)="saveValue(f6Val.value,'f6')"></td>
                          <td>
                            <select class="name active" #f6Type (change)="saveType(f6Type.value,'f6')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>7.</td>
                          <td><input type="text" value="{{scannedData.f7}}" #f7Val  (blur)="saveValue(f7Val.value,'f7')"></td>
                          <td>
                            <select class="name active" #f7Type (change)="saveType(f7Type.value,'f7')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>8.</td>
                          <td><input type="text" value="{{scannedData.f8}}" #f8Val  (blur)="saveValue(f8Val.value,'f8')"></td>
                          <td>
                            <select class="name active" #f8Type (change)="saveType(f8Type.value,'f8')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>9.</td>
                          <td><input type="text" value="{{scannedData.f9}}" #f9Val  (blur)="saveValue(f9Val.value,'f9')"></td>
                          <td>
                            <select class="name active" #f9Type (change)="saveType(f9Type.value,'f9')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>10.</td>
                          <td><input type="text" value="{{scannedData.f10}}" #f10Val  (blur)="saveValue(f10Val.value,'f10')"></td>
                          <td>
                            <select class="name active" #f10Type (change)="saveType(f10Type.value,'f10')">
                              <option value="">Select</option>
                              <option value="NAME">Name</option>
                              <option value="DESIGNATION">Designation</option>
                              <option value="MOBILE_NO">Contact</option>
                              <option value="EMAIL_ID">Email</option>
                              <option value="COUNTRY">Country</option>
                              <option value="ADDRESS">Address</option>
                              <option value="WEBSITE">Website</option>
                            </select>
                          </td>
                        </tr>

                      </tbody>
                    </table>


                  </div>




                </form>
          </div>
       </div>

       <div class="modal-footer">
        <div class="col-md-12 col-sm-12">
          <div class="col-md-9 col-sm-9"></div>
          <div class="col-md-3 col-sm-3 p0" >
            <input type="submit" class="pull-right btn btn-primary" value="Save" (click)="saveAll()">
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
<!-- //discounts-->
